<div class="small-12 columns content">
  <div class="small-12 columns home-1">
    <div class="small-5 columns content-pic">
      <%= image_tag('IMG_2441.jpg') %>
    </div>
    <div class="small-7 columns content-text">
      <h1>Welcome to Moontree Studios</h1>
      <p>
        This is a bunch of stuff that Bill will write.  It will be bullshit like
        "this is a recording studio where you record stuff".  We are called
        "valley ride blunts all day group".  We record using only casio keyboards
        and equiptment that was found in the tomb of Egyptian Pharoahs.  BLAH
        blah...blah blah....blah blah blah blah blah.
      </p>
    </div>
  </div>
</div>
